import godot.gradle.GodotLanguage

plugins {
    id("com.utopia-rise.godot-jvm") version "GODOT_JVM_VERSION"
}

repositories {
    mavenCentral()
}

godot {
    languages.set(setOf(GODOT_LANGUAGES))

    // BEGIN_OPTIONAL_COROUTINES
    isGodotCoroutinesEnabled.set(true)
    // END_OPTIONAL_COROUTINES

    // BEGIN_OPTIONAL_ANDROID
    android {
        d8ToolPath.set("D8_TOOL_PATH")
        compileSdkDirectory.set("ANDROID_COMPILE_SDK_DIR")
    }
    // END_OPTIONAL_ANDROID

    // BEGIN_OPTIONAL_GRAAL
    graal {
        homeDirectory.set("GRAAL_VM_DIR")
        windowsDeveloperVcVarsPath.set("WINDOWS_DEVELOPER_VS_VARS_PATH")
    }
    // END_OPTIONAL_GRAAL
}
